@font-face {
  font-family: "IranianSans";
  src: url("Iranian\ Sans.ttf") format("truetype");
}

body {
  background-color: rgb(246, 246, 246);
  font-family: IranianSans;
}
.container {
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.217);
  padding: 0%;
}
body {
  direction: rtl;
}
.enterbtn {
  width: 100%;
  background: linear-gradient(
    243.3deg,
    rgb(247, 164, 216) 35.7%,
    rgb(115, 102, 252) 121.6%
  );
  border: none;
  padding: 10px;
}
input {
  margin: 20px auto;
  background-color: rgb(44, 44, 44);
}
.userpic {
  width: 90px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.image-container img {
  border: 5px solid rgb(115, 102, 252);
  padding: 0px;
}
.head {
  background: linear-gradient(
    243.3deg,
    rgb(247, 164, 216) 35.7%,
    rgb(115, 102, 252) 121.6%
  );
  padding: 30px;
  border-radius: 20px 20px 0 0;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.contain {
  padding: 40px;
}
